<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录和注册</title>
    <link rel="stylesheet" href="../static/css/user.css">
</head>
<body>
<div class="container">
    <!-- 登录表单 -->
    <div id="login-form" class="form">
        <h2>登录</h2>
        <label for="login-account_num"></label><input type="text" id="login-account_num" placeholder="账号" required>
        <label for="login-password"></label><input type="password" id="login-password" placeholder="密码" required>
        <button onclick="login()">登录</button>
        <p>还没有账号？<a href="#" onclick="showRegister()">注册</a></p>
    </div>
    <!-- 注册表单 -->
    <div id="register-form" class="form" style="display: none;">
        <h2>注册</h2>
        <label for="register-username"></label><input type="text" id="register-username" placeholder="用户名" required>
        <label for="register-password"></label><input type="password" id="register-password" placeholder="密码" required>
        <label for="register-passwordConfirm"></label><input type="password" id="register-passwordConfirm" placeholder="确认密码" required>
        <button onclick="register()">注册</button>
        <p>已有账号？<a href="#" onclick="showLogin()">登录</a></p>
    </div>
</div>
<script src="../static/js/jwt.js"></script>
<script src="../static/js/user.js"></script>
</body>
</html>